<div class="input-container">

  <div class="input">
    <label for="text">Text</label>
    <input type="text" #textValue id="text" (keyup)="onChangeText(textValue.value)" />
  </div>

  <div class="input">
    <label for="font">Font size</label>
    <input type="number" min="10" max="40" #fontValue id="font" (keyup)="onChangeFont(fontValue.value)" />
  </div>

  <div class="input">
    <p>Color</p>
    <div class="colors">
      <button (click)="onChangeColor('red')" class="red-color"></button>
      <button (click)="onChangeColor('green')" class="green-color"></button>
      <button (click)="onChangeColor('blue')" class="blue-color"></button>
    </div>
  </div>

  <div class="input">
    <p>Style</p>
    <div class="styles">
      <button (click)="onChangeType('bold')" class="bold-style">Bold</button>
      <button (click)="onChangeType('italic')" class="italic-style">Italic</button>
    </div>
  </div>

  <button (click)="onSubmit()">Generate</button>
</div>
